/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff2");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

body {
  /* display: flex; */
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 2%;
  /* margin-left: 20%;
  margin-right: 20%; */
  /* height: 100%; */
  width: 1000px;
  /* justify-content: center; */
  /* display: flex;
  justify-content: space-between; */
  /* text-align: center;  */
}

h1 {
  font-size: 32px;
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  text-decoration: none;
  margin: 0;
  color: #3b4358;
  font-weight: 400;
  letter-spacing: .01em;
  line-height: 51px;
  width: 100%;
  margin-bottom: 32px;
}

.case_study_body {
  /* display: inline-block; */
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

p {
  font-size: 20px;
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  text-decoration: none;
  margin: 0;
  color: #3b4358;
  font-weight: 400;
  letter-spacing: .01em;
  line-height: 32px;
  /* width: 100%; */
}

#proscons {
  height: 700px;
}

#dd {
  width: 100%;
}

#case_study_full_width_images {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
}

.row {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
  margin-bottom: 64px;
}

.column {
  flex: 50%;
  /* padding: 12px; */
  text-align: center;
  width: fit-content;
  height: fit-content;
}

.case_study_screenshot {
  height: 700px;
  line-height: 0;
}

.case_study_section_title {
  font-weight: bold;
  margin-top: 64px;
}

#user_research_screenshot {
  width: 100%;
  height: 100%;
}

#side_panel_screenshot {
  width: 100%;
  height: 100%;
}

#whichone {
  width: 100%;
  height: 100%;
  margin-top: 0;
}

#usertestingss {
  height: 450px
}

#ubergooglescreenshot {
  width: 100%;
  height: 700px;
  line-height: 0;
}

.main-point {
  font-size: 24px;
  line-height: 140%;
  padding-left: 20px;
  border-left: 3px solid #546fd6;
  margin-top: 24px;
}

#name_header {
  font-size: 32px;
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  text-decoration: none;
  margin: 0;
  color: #3b4358;
  font-weight: 600;
  letter-spacing: .01em;
  line-height: 51px;
  width: 40%;
}

#case_study_header {
  font-size: 32px;
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  text-decoration: none;
  margin: 0;
  color: #546fd6;
  font-weight: 600;
  letter-spacing: .01em;
  line-height: 51px;
  margin-bottom: 48px;
}

.case_study_header_span {
  color: #3b4358;
}

.description_header {
  color: #546fd6;
  font-weight: 600;
  margin-bottom: 24px;
}

#first_description_header {
  margin-top: 32px;
}

.italic {
  font-style: italic;
}

.description_value {
  color: #3b4358;
  font-weight: 400;
}

.featured-case-study-vid {
  width: 100%;
  margin-top: 32px;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  font-weight: 600;
  color: #3b4358;
  line-height: 36px;
}

#hiimkathy {
  margin-bottom: 5%;
}

/* h3 {
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  font-weight: 600;
  margin: 0;
  /* font-size: 24px */
  /* color: #3B4358; */
  /* color: #546FD6; */
/* } */

#personallogo {
  width: 15%;
}

#personallogodiv {
  text-align: right;
  width: 40%;
  margin: 0;
  display: inline-block;
}

nav {
  width: 50%;
  /* margin-right: 0; */
  display: inline-block;
  text-align: right;
  /* direction: rtl; */
}

.youarehere {
  color: white;
  background: green;
}

.btn {
  text-decoration: none;
  margin-left: 0%;
  padding-left: 5%;
  line-height: 29px;
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  color: #959ba6;
  font-weight: 400;
  font-size: 18px;
}

.active, .btn:hover {
  color: #3B4358;
}


#nav a:focus {
  color: #3B4358;
}

#nav a:target {
  color: #3B4358;
  border: 2px solid #D4D4D4;
  background-color: #e5eecc;
}

index.html:target {
  color: #3B4358;
}

video {
  height: 300px;
}

.logotextdiv {
  margin-bottom: 128px;
  /* z-index: 1; */
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 550px;
  display: flex;
  margin: auto;
  margin-left: 0;
}

#dti-logo {
  height: 367px;
}

.textdiv {
  display: inline-block;
  width: 350px;
  height: 100%;
  vertical-align: top;
  padding: none;
  margin: auto;
  margin-right: 0;
}

.personalitypic {
  /* width: 49%; */
  width: 500px;
  height: 471px;
  margin-right: 5%;
  margin-bottom: 5%;
  border-radius: 5%;
  box-shadow: 0px 2px 24px rgba(163, 163, 163, 0.5)
}

.abouttextdiv {
  display: inline-block;
  width: 400px;
  height: 100%;
  vertical-align: top;
  padding: none;
}

.personalitypicabouttextdiv {
  display: flex;
  justify-content: space-between;
}

#tagline {
  font-size: 36px;
  line-height: 48px;
}

.text {
  text-align: left;
  line-height: 29px;
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  color: #576a74;
  font-weight: 400;
  font-size: 18px;
  margin-top: 16px;
  margin-right: 5%;
  /* margin-bottom: 32px; */
  width: 100%;
}

#abouttext {
  margin-top: 0px;
}

.tag {
  background-color: rgb(84, 111,214, 0.7);
  border-radius: 20px;
  padding: 5px;
  font-size: 12px;
  color: #ffffff;
  line-height: 12px;
}

a {
  text-decoration: none;
  color: #546FD6;
}

a:hover {
  color: #90A1E5;
}

.contactlogo, .contactlogolink {
  /* display: flex; */
  height: 24px;
  width: 23.85px;
  float: right;
  /* align-items: center;
  justify-content: center; */
  /* color: #959ba6; */
}


#blue-part {
  float: right;
  fill: #959BA6;
}

#white-part:hover {
  fill: #ffffff;
}

#blue-part:hover {
  fill: #006699;
}

#twitterlogo {
  fill: #959BA6;
}

#twitterlogo:hover {
  fill: #1DA1F2;
}

#tweet {
  margin-left: 24px;
}
.contactlogodiv {
  text-align: left;
  width: 500px;
  margin-right: 0;
}

.resume {
  width: 100%;
  margin-bottom: 48px;
}

h5 {
  line-height: 24px;
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  color: #3B4358;
  font-weight: 400;
  font-size: 12px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
}

.italic {
  font-style: italic;
}

.case_study_section_subtitle {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  margin-top: 45px;
  color: #546FD6;
  margin-bottom: 12px;
  letter-spacing: 2px;
}

h3 {
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  font-weight: 400;
  color: #959ba6;
  margin: 16px 0px;
  font-size: 18px;
}

.firstname {
  color: #3b4358;
}

.firstname:hover {
  color:#959ba6;
}

footer {
  display: inline-block;
  width: 100%;
  margin-right: 0;
  margin-top: 128px;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
}

#lastlogotextdiv {
  margin-bottom: 0%;
}

.intro-div {
  width: 550px;
  margin: auto;
  margin-bottom: 128px;
}

#more-info-div {
  display: flex;
}

.more-info {
  margin-top: 32px;
  margin-right: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.more-info-icon {
  margin-top: 32px;
  margin-right: 8px;
}

.featured {
  display: flex;
  justify-content: space-between;
}

.featured-product-name {
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  margin-top: 0px;
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #3b4358;
}

.featured-date {
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  margin-top: 0px;
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #C9CCD2;
}

.product-description {
  margin-bottom: 16px;
  font-weight: 400;
}

.tool {
  height: 16px;
  margin-right: 16px;
  margin-top: 32px;
}

.cta {
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  font-weight: 600;
  color: #546FD6;
  border: 1px solid #546FD6;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 12px;
  white-space: nowrap;
  display: inline-block;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 32px;
  display: block;
  width: 120px;
  text-align: center;
}

.cta:hover {
  color: #fff;
  background-color: #546fd6;
  border: 1px solid #546fd6;
}

.comingsoon {
  font-family: "San Francisco", "Helvetica Nueue", sans-serif;
  font-weight: 600;
  color: #3b4358;
  border: 1px solid #3B4358;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
  white-space: nowrap;
  display: inline-block;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 5%;
  display: block;
  width: 55%;
  text-align: center;
}

@media screen and (max-width: 1080px) {
  body {
    margin-top: 48px;
    margin-bottom: 2%;
    width: 600px;
  }
}

@media screen and (max-width: 1080px) {
  .logotextdiv, .personalitypicabouttextdiv {
    /* margin: 0 auto; */
    display: block;
  }
}

@media screen and (max-width: 1080px) {
  #dti-logo {
    height: 100%;
  }
}

@media screen and (max-width: 750px) {
  #dti-logo {
    height: 100%;
  }
}

@media screen and (max-width: 1080px) {
  .header, .logo, .textdiv, .abouttextdiv, .personalitypic, .nav  {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1080px) {
  .personalitypic {
    height: 100%;
  }
}

@media screen and (max-width: 750px) {
  body  {
    /* margin-right: 64px;
    margin-left: 64px; */
    width: 80%;
  }
}

@media screen and (max-width: 750px) {
  .header, .logo, .textdiv, .abouttextdiv, .personalitypic, .nav  {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1080px) {
  .logo {
    margin-top: 48px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 750px) {
  .logo {
    margin-top: 48px;
    margin-bottom: 24px;
  }
}
/*
@media screen and (max-width: 750px) {
  body {
    width: 100%;
  }
} */

@media screen and (max-width: 1080px) {
  #nav, #name_header {
    display: block;
  }
}

@media screen and (max-width: 1080px) {
  header.header {
    display: block;
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 1080px) {
  p#name_header {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 1080px) {
  ul#myDIV {
    display: flex;
    margin-bottom: 48px;
    padding-left: 0;
  }
}

@media screen and (max-width: 1080px) {
  a#work.btn{
    padding-left: 0;
  }
}

@media screen and (max-width: 1080px) {
  a#work.btn, a#resume.btn, a#about.btn {
    margin: 0;
    padding-right: 16px;
  }
}

@media screen and (max-width: 1080px) {
  nav#nav, header,  {
    width: 100%;
  }
}

@media screen and (max-width: 1080px) {
  .intro-div {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 1080px) {
  .nav {
    text-align: center;
  }
}

@media screen and (max-width: 1080px) {
  .abouttextidv {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .logotextdiv {
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 600px) {
  #lastlogotextdiv {
    margin-bottom: 0%;
  }
}

@media screen and (max-width: 600px) {
  .more-info {
    margin-right: 24px;
  }
}

/* @media screen and (max-width: 750px) {
  body {
    margin-left: 5%;
    margin-right: 5%;
  }
} */

@media screen and (max-width: 800px) {
  header {
    display: none;
  }
}



@media screen and (max-width: 1080px) {
  h1 {
    /* text-align: center; */
    width: 100%;
  }
}

@media screen and (max-width: 1080px) {
  ul {
    padding: 0;
  }
}

@media screen and (max-width: 1080px) {
  #nav a {
    padding: 0%;
  }
}

@media screen and (max-width: 1080px) {
  #nav {
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 1080px) {
  #work, #resume {
    margin-left: 35px;
    margin-right: 35px;
  }
}

accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

/* .active, .accordion:hover {
  background-color: #ccc;
} */

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.slower-animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-delay: 0.2s;

}

/* .animatedFadeInUp {
    opacity: 0
} */

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

/* Style the header */

.header {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  /* background: #ffffff; */
  /* width: 100%; */
  /* position: relative;
  z-index: 2;
  position: fixed;
  position: fixed;
  width: 100%;
  top: 0px;
  right: 0px;
  background: white; */
}

.content {
  position: relative;
  z-index: 1;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

.labels {
  display: inline-block;
}

.label {
  display: inline-block;
  font-family: "San Francisco";
  font-weight: 400;
  /* height: 25px; */
  font-size: 13px;
  background-color: #F1F7FF;
  color: #4689F2;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 5px 7px;
  border: 1px solid #E1ECFF;
  white-space: nowrap;
  overflow-x: hidden;
}

#viewpdf {
  margin-top: 16px;
  width: 70px;
  line-height: 29px;
}

#intro-text {
  margin-top: 32px;
}

#mydiv {
  margin-bottom: 128px;
}
